*{
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans' ,sans-serif;
    font-size: 18px;
    min-height: 95vh;
    overflow: hidden;
               
}
.background{
    position: absolute;
    z-index: 1;
}
.bg-top{
    position: relative;
    right: 190px;
    bottom: -200px; 
 
}
.bg-bottom{
    position: relative;
    left: 1010px;
    top: -100px;  
}
.target{ 
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 15px;
}
.img-card{
    width: 400px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    z-index: 1;
}
.img-victor{
    border-radius: 50px;
    position: relative;
    z-index: 2;
    top: 90px;
    left: 150px; 
    outline: 5px solid #fff;
    
}
.name{
    position: relative;
    z-index: 2;
    top: 80px;
    left: auto;
    right: auto;  
    text-align: center; 
}
.city{
    position: relative;
    top: -10px; 
    font-size: 13px;
}
.box-list{
    position: relative;
    top: 120px;
    left: auto;
    right: auto;   
    border-top: 1px solid rgb(196, 196, 196);
}
.list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 15px;
    left: -40px;
    right: auto;  

}
.lists {
    list-style: none;
}

.color-1 .k{
    color: hsl(229, 23%, 23%);

}
.color-2{
    color: hsl(227, 10%, 46%);
    font-size: 13px;

}

.attribution { 
    font-size: 11px;  
    z-index: 3;
    position: absolute;
    top: 900px;
}
.attribution a { color: hsl(228, 45%, 44%); }